{css, include=FALSE}

.title {
  font-size: 70px !important;
}

.author {
  font-size: 60px;
}

.date {
  font-size: 20px;
}

.column {
text-align: center;
}

.slide {
    height: 750px;
    overflow-y: auto !important;
}