{css, include=FALSE}

.title {
  font-size: 70px !important;
}

.author {
  font-size: 40px;
}

.date {
  font-size: 20px;
}

.H1 { 
  text-align: center;
  font-size: 80px;
}

.H2 { 
  text-align: center;
  font-size: 50px;
}

.H3 {
  text-align: left;
}

.ol.aside-footnotes {
  padding-top: 3em;
  font-size: 14pt;
}

