{css, include=FALSE}

.title {
  font-size: 70px !important;
}

.author {
  font-size: 40px;
}

.date {
  font-size: 20px;
}

.column-left {
text-align: left;
}

.slide {
    height: 750px;
    overflow-y: auto !important;
}

